.d-item{
    height: 790px;
}

.d-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

.typping-effect{
    margin: 50px auto;
    width: max-content;
    
    font-family: monospace;
    font-size: 2rem;

    animation: teclear 3s steps(16);
}

@keyframes teclear{
    from{
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    }
    to{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}

@keyframes efecto{
    50%{
        border-color: transparent;
    }
}